* {
    margin: 0;
    padding: 0;

}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    height: 450px;
    width: 350px;
    /* position: absolute; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
    display:block;
}

h1 {
    color: black;
    justify-content: center;
    display: flex;
    margin: 40px 50px 30px 50px;
    font-weight: bold;
}
  .login input {
    width: 250px;
    height: 20px;
    display: flex;
    margin-left:30px ;
    padding: 10px;
    color: black;
}

input::palceholder {
    color: antiquewhite;
}

 .login h3 {
    margin-left: 30px;
}

.psw {
    display: flex;
    margin-left: 200px;
    text-decoration: none;
    color: black;
    
}




.loginButton button {
    background-color: rgb(92, 92, 233);
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 15px 0px 20px 40px;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 40px;
}

.icons_login {
    margin-left: 90px;
    margin-top: 0px;
}

.icons_login a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(92, 92, 233);
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin: 10px;
}

/* registration sectionn */

.register_sec {
    height: 450px;
    width: 350px;
    /* position:relative; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
    display:block;


}

.register_sec h1 {
    color: black;
    justify-content: center;
    display: flex;

    margin: 30px 50px 30px 50px;
    font-weight: bold;
}
h3 {
    margin-left: 35px;
}


input {
    width: 250px;
    height: 20px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    color: black;
}

input::palceholder {
    color: antiquewhite;
}

h4 {
    margin-left: 39px;
}
button {
    background-color: rgb(92, 92, 233);
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 10px 0 0px 100px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

/*                          
                       forgot section */

.Forgot  {
    height: 450px;
    width: 350px;
    position: relative;
    display:block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 5px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
}

h2 {
    color: black;
    justify-content: center;
    display: flex;

    margin: 50px 50px 30px 50px;
    font-weight: bold;
}

input {
    width: 250px;
    height: 20px;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    color: black;
}

input::palceholder {
    color: antiquewhite;
}

h3 {
    margin-left: 39px;
}

button {
    width: 150px;
    height: 40px;
    background-color: rgb(92, 92, 233);
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 20px 0 0px 95px;
    border: none;
    cursor: pointer;

}

.icons {
    margin-left: 80px;
    margin-top: 20px;
}

.icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: rgb(92, 92, 233);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin: 10px;
}